<div class="container">
  <h2 class="text-center">Lista de Produtos</h2>
  <table class="table table-bordered mt-4">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Quantidade</th>
        <th>Preço</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let produto of produtos">
        <td>{{ produto.id }}</td>
        <td>{{ produto.nome }}</td>
        <td>{{ produto.quantidade }}</td>
        <td>{{ produto.preco | currency:'BRL' }}</td>
        <td>
          <button class="btn btn-info btn-sm" [routerLink]="['/produtos-form', produto.id]">Editar</button>
          <button class="btn btn-danger btn-sm" (click)="deletarProduto(produto.id)">Excluir</button>
         
      </tr>
    </tbody>
  </table>
</div>
<div class="d-flex justify-content-center mb-3">
  <button class="btn btn-success" [routerLink]="['/produtos-form']">Adicionar Produto</button>
</div>

<div class="footer">
  <p>&copy; 2024, Alice Farias. Todos os direitos reservados.</p>
  <p><a href="https://github.com/alice-farias">Github</a> | <a href="https://www.linkedin.com/in/alice-farias-%F0%9F%8F%B3%EF%B8%8F%E2%80%8D%F0%9F%8C%88-35a14b1b8/?locale=pt_BR">Linkedin</a></p>
</div>

